<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="btn-group pull-right">
        <%= link_to 'Voltar', admin_airlines_path, class: 'btn btn-default' %>
      </div>

      <h1>Nova Companhia Aérea</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', airline: @airline %>
  </div>
</div>

