<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="btn-group pull-right">
        <%= link_to 'Voltar', admin_trip_destinations_path(@trip), class: 'btn btn-default' %>
      </div>

      <h1><%= @trip.name %> - Editando <%= @destination.name %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', destination: @destination %>
  </div>
</div>
