<h1><%= flight_appointment.from %> - <%= flight_appointment.to %></h1>

<div class="itinerary-details">
  <div>Voo: <strong><%= flight_appointment.flight_number %></strong></div>
  <div>Chegada: <strong><%= plane_arrival_date flight_appointment.scheduled_at, flight_appointment.end_date %></strong></div>
</div>

