<h1>Bem vindo ao TripOrganizer</h1>

<p>Você foi cadastrado como um passageiro no Trip Organizer. Para acessar a aplicação, utilize as informações abaixo:</p>

<p>
<strong>E-mail</strong>: <%= @user.email %><br />
<strong>Senha</strong>: <%= @user.password %>
</p>

<p>Acesse a aplicação na URL: <%= link_to root_url, root_url %></p>

<p>Atenciosamente,<br />
<strong>TripOrganizer</strong>
</p>
