<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Viagens </h1></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <article class="trip-widget">
        <h1>Missao Trip Mobility 2017</h1>
        <p>Dinamarca + Suecia 17 a 24 de junho</p>
        <div><a class="btn btn-primary" role="button" href="#">Acessar </a></div>
      </article>
    </div>

    <div class="col-md-3">
      <article class="trip-widget">
        <h1>Missao Trip Mobility 2017</h1>
        <p>Dinamarca + Suecia 17 a 24 de junho</p>
        <div><a class="btn btn-primary" role="button" href="#">Acessar </a></div>
      </article>
    </div>

    <div class="col-md-3">
      <article class="trip-widget">
        <h1>Missao Trip Mobility 2017</h1>
        <p>Dinamarca + Suecia 17 a 24 de junho</p>
        <div><a class="btn btn-primary" role="button" href="#">Acessar </a></div>
      </article>
    </div>

    <div class="col-md-3">
      <article class="trip-widget">
        <h1>Missao Trip Mobility 2017</h1>
        <p>Dinamarca + Suecia 17 a 24 de junho</p>
        <div><a class="btn btn-primary" role="button" href="#">Acessar </a></div>
      </article>
    </div>

    <div class="col-md-3">
      <article class="trip-widget">
        <h1>Missao Trip Mobility 2017</h1>
        <p>Dinamarca + Suecia 17 a 24 de junho</p>
        <div><a class="btn btn-primary" role="button" href="#">Acessar </a></div>
      </article>
    </div>

    <div class="col-md-3">
      <article class="trip-widget">
        <h1>Missao Trip Mobility 2017</h1>
        <p>Dinamarca + Suecia 17 a 24 de junho</p>
        <div><a class="btn btn-primary" role="button" href="#">Acessar </a></div>
      </article>
    </div>

    <div class="col-md-3">
      <article class="trip-widget">
        <h1>Missao Trip Mobility 2017</h1>
        <p>Dinamarca + Suecia 17 a 24 de junho</p>
        <div><a class="btn btn-primary" role="button" href="#">Acessar </a></div>
      </article>
    </div>

    <div class="col-md-3">
      <article class="trip-widget">
        <h1>Missao Trip Mobility 2017</h1>
        <p>Dinamarca + Suecia 17 a 24 de junho</p>
        <div><a class="btn btn-primary" role="button" href="#">Acessar </a></div>
      </article>
    </div>
  </div>
</div>
