<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="btn-group pull-right">
        <%= link_to 'Voltar', admin_companies_path, class: 'btn btn-default' %>
        <%= link_to 'Ver', [:admin, @company], class: 'btn btn-default' %>
      </div>

      <h1>Editando Empresa</h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
