<h1><%= visit_appointment.company.name %></h1>

<div class="itinerary-details">
  <div>End.: <strong><%= visit_appointment.company.address %></strong></div>
  <div><%= visit_appointment.description %></div>
</div>

