<div class="login">
  <div class="login__logo">
    <%= image_tag 'logo.png' %>
  </div>

  <div class="devise-password-callout">
    Bem vindo ao <strong>TripOrganizer</strong>
  </div>

  <div class="download-callout">
    <p>
    Para começar a utilizar o aplicativo, faça o download em uma das lojas abaixo:
    </p>

    <div>
      <a href="https://play.google.com/store/apps/details?id=com.triporganizer">Baixar para Android</a>
      <a href="https://itunes.apple.com/us/app/trip-organizer/id1229475650?l=pt&ls=1&mt=8">Baixar para iOS</a>
    </div>
  </div>
</div>

