<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="btn-group pull-right">
        <%= link_to 'Voltar', admin_hotels_path, class: 'btn btn-default' %>
      </div>

      <h1>Editar - <%= @hotel.name %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', hotel: @hotel %>
  </div>
</div>
