<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="btn-group pull-right">
        <%= link_to 'Acessar', [:admin, @trip], class: 'btn btn-default' %>
        <%= link_to 'Voltar', admin_trips_path, class: 'btn btn-default' %>
      </div>

      <h1>Editando - <%= @trip.name %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', trip: @trip %>
  </div>
</div>
