<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1><%= @trip.name %> &gt; <%= @registration.user.name %> </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <a href="#">Passagens Aéreas</a>
      </li>
      <li role="presentation" class="active">
        <a href="#">Hospedagem</a>
      </li>
      <li role="presentation">
        <a href="#">Mensagens</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  </div>
</div>
