@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$primary-color: #3647AB;
$light-primary-color: #3E50B4;

@import "normalize-rails";

@import "bourbon/bourbon";
@import "neat/neat";

@import "base/base";
@import "refills/flashes";

@import "components/global";
@import "itinerary";

body {
  &.devise-sessions {
    background-color: $light-primary-color;
  }
}

$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

$card-padding: 16px !default;
$card-bg-color: #fff !default;

.login {
  max-width: 332px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

.login__logo {
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}

.login__explanations {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
}

.login-form {
  color: white;

  .form-control {
    width: 100%;
    border-radius: 30px;
    background: rgba(255, 255, 255, .43);
    color: white;
    padding: 17px 22px 16px;
    border: 0px;

    &::placeholder {
      color: white;
    }
  }

  .checkbox-inline {
    padding-left: 15px;
  }

  .btn {
    width: 100%;
    background-color: #2F3E9E;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border-radius: 30px;
    padding: 17px 22px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    outline: none;

    &:active {
      transform: translateY(1px);
    }
  }

  .form-actions {
    margin-top: 40px;
  }

  .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;

    &:hover, &:active {
      opacity:1;
      text-decoration:none;
    }
  }

}

.main-header {
  background: $primary-color;
  @extend .z-depth-1;
  color: white;
  width: 100%;
  line-height: 1.2;
  position: relative;


  a {
    &, &:visited, &:active, &:hover {
      color: white;
    }
  }
}

.main-header__bar {
  h1 {
    font-size: 18px;
    padding: 16px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0px;
  }

  &.with-back {
    padding-left: 54px;
  }
}

.main-header__top-panel {
  padding: $card-padding;
  border-bottom: 1px solid #4F5EB6;
  font-size: 14px;
}

.main-nav-bar {
  display: flex;
  padding: 16px;
}

.main-nav-bar__back {
  flex: 0 0 54px;
  padding-right: 16px;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
}

.main-nav-bar__title {
  margin: 0px;
  padding-top: 3px;
}

.trip-top-bar {
  @extend .z-depth-1;

  background-position: center;
  background-size: cover;
}

.trip-top-bar__contents {
  display: flex;
  padding: 16px;
  height: 225px;
  background-color: rgba(0,0,0,.4);
}

.trip-top-bar__back {
  flex: 0 0 54px;
  padding-right: 16px;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
}

.card-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  margin: $card-padding;
  background-color: $card-bg-color;
  transition: box-shadow .25s;
  border-radius: 2px;
  @extend .z-depth-1;
  flex: 0 1 516px;
}

.card__block-link {
  &, &:active, &:hover, &:visited {
    color: inherit;
  }
}

.card__header {
  border-radius: 2px 2px 0 0;
  color: white;
  background-size: cover;
  background-position: center;
  height: 220px;
  position: relative;
}

.card__header-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
  border-radius: 2px 2px 0 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .1));
  padding: 16px;
}

.card__body {
  padding: 16px;
  border-radius: 0 0 2px 2px;

}

.card.card--trip {
  .card__body {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-color;
  }
}

.card.card--document {
  flex: 0 1 165px;
  &, &:hover, &:active, &:visited {
    color: #4A4A4A;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  &:hover, &:active {
    @extend .z-depth-2;
  }

  .card__header {
    height: 127px;
    border-radius: 2px 2px 0 0;
    color: inherit;
    padding: 26px;
    text-align: center;
  }

  &.card--document-1 {
    .card__header {
      background: #90B9C0;
    }
  }

  &.card--document-2 {
    .card__header {
      background: #EBC63A;
    }
  }

  &.card--document-3 {
    .card__header {
      background: #786E57;
    }
  }
}


.trip-header {
  h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
  }

  h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0px;
    margin-top: 5px;
  }
}

.main-header__tabs {
  display: flex;
}
.main-header__tab {
  flex: 1;

  display: block;
  position: relative;
  padding: 16px;
  text-align: center;

  font-size: 16px;
  font-weight: bold;
  opacity: .8;
  text-transform: uppercase;

  &, &:visited, &:active, &:hover {
    color: white;
    text-decoration: none;
  }


  &:after {
    content: " ";
    display: block;
    position: absolute;
    height: 4px;
    background: #A7CF4A;
    bottom: 0px;
    width: 100%;
    visibility: hidden;
    left: 0px;
  }

  &.is-selected {
    opacity: 1;
    &:after {
      visibility: visible;
    }
  }
}

.empty-state {
  text-align: center;
  padding: 16px;

  h1 {
    font-size: 21px;
    color: #999;
  }
}

.update-passport {
  h1 {
    font-size: 14px;
  }
}

.update-passport__fields {
  display: flex;
  align-items: center;

  input {
    margin: 0px;
  }

  .btn {
    flex: 0 0 auto;
  }
}

.document-exibit {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 95px;


  .update-passport {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #f3f3f3;
    padding: 16px;

    .update-passport__content {
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
