<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="btn-group pull-right">
        <%= link_to 'Voltar', admin_users_path, class: 'btn btn-default' %>
      </div>
      <h1>Editando - <%= @admin_user.name %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', admin_user: @admin_user %>
  </div>
</div>
